.sanjibox{
    height: 100%;
    float: left;
    background-color: white;
    padding-right: 20px;
    line-height: 7vh;
}
.sanjiactive{
    height: 119%;
    float: left;
    background: url("../image/table/actbg.png");
    background-size: 100% 100%;
    padding-right: 30px;
    line-height: 9vh;
    margin-top: -0.8%;
}
.sanjiactive span{
    color: white!important;
}
.dqy{
    width: 96%;
    height: 5%;
    position: absolute;
    left: 2%;
    top: 0.5%;
    font-size: 2.5vh
}
